<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <title>Discriminate</title>
    <style>
        label {
            font-weight: bold;
        }

        .hide {
            display: none;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Discrimination Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explore') }}">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('discriminate') }}"><b>Discriminate</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- this section can be replaced by a child document -->
{% block body %}


<div>
    <div class="row">
        <div class="d-flex flex-column align-items-stretch vh-100 col-4 bg-light">
            <div class="m-5">

                <h2><b>Discrimination Discovery</b></h2>

                <form class="row mt-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <label for="inputAlgorithm" class="form-label">Algorithm</label>
                            </div>
                            <div class="col-6 text-end">
                                <b>multiple?</b> <input type="checkbox" id="multipleAlgorithm" name="multipleAlgorithm">
                            </div>
                        </div>
                        <select id="inputAlgorithm" class="form-select">
                            <option selected>Situation testing</option>
                        </select>
                    </div>
                    <div class="multipleAlgorithm hide col-12 mt-3">
                        <select id="2inputAlgorithm" class="form-select">
                            <option selected>Situation testing</option>
                        </select>
                    </div>
                    <div class="multipleAlgorithm hide col-12 mt-3">
                        <select id="3inputAlgorithm" class="form-select">
                            <option selected>Situation testing</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="inputProtectedAttributes" class="form-label">Protected Attributes</label>
                            </div>
                            <div class="col-6 text-end">
                                <b>multiple?</b> <input type="checkbox" id="multipleProtectedAttributes"
                                                        name="multipleProtectedAttributes">
                            </div>
                        </div>
                        <select id="inputProtectedAttributes" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="age">Age</option>
                            <option value="sex">Sex</option>
                            <option value="race">Race</option>
                        </select>
                    </div>
                    <div class="multipleProtectedAttributes hide col-12 mt-3">
                        <select id="2inputProtectedAttributes" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="age">Age</option>
                            <option value="sex">Sex</option>
                            <option value="race">Race</option>
                        </select>
                    </div>
                    <div class="multipleProtectedAttributes hide col-12 mt-3">
                        <select id="3inputProtectedAttributes" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="age">Age</option>
                            <option value="sex">Sex</option>
                            <option value="race">Race</option>
                        </select>
                    </div>

                    <div class="col-6 mt-3">
                        <label for="inputDecisionAttribute1" class="form-label">Decision Attribute</label>
                        <select id="inputDecisionAttribute1" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="age">Experience</option>
                            <option value="sex">Credit</option>
                            <option value="race">School</option>
                        </select>
                    </div>
                    <div class="col-2 mt-3">
                        <label for="inputDecisionAttribute2" class="form-label">&nbsp;</label>
                        <select id="inputDecisionAttribute2" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="lt"><</option>
                            <option value="leq"><=</option>
                            <option value="eq" selected>=</option>
                            <option value="gt">></option>
                            <option value="geq">>=</option>
                        </select>
                    </div>
                    <div class="col-4 mt-3">
                        <div class="row">
                            <div class="col text-end">
                                <b>multiple?</b> <input type="checkbox"
                                                        name="multipleDecisionAttribute" value="multiple">
                            </div>
                        </div>
                        <input type="text" class="form-control" id="inputDecisionAttribute3" placeholder="true">
                    </div>
                    <div class="multipleDecisionAttribute hide col-6 mt-3">
                        <select id="2inputDecisionAttribute1" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="age">Experience</option>
                            <option value="sex">Credit</option>
                            <option value="race">School</option>
                        </select>
                    </div>
                    <div class="multipleDecisionAttribute hide col-2 mt-3">
                        <select id="2inputDecisionAttribute2" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="lt"><</option>
                            <option value="leq"><=</option>
                            <option value="eq" selected>=</option>
                            <option value="gt">></option>
                            <option value="geq">>=</option>
                        </select>
                    </div>
                    <div class="multipleDecisionAttribute hide col-4 mt-3">
                        <input type="text" class="form-control" id="2inputDecisionAttribute3" placeholder="true">
                    </div>
                    <div class="multipleDecisionAttribute hide col-6 mt-3">
                        <select id="3inputDecisionAttribute1" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="age">Experience</option>
                            <option value="sex">Credit</option>
                            <option value="race">School</option>
                        </select>
                    </div>
                    <div class="multipleDecisionAttribute hide col-2 mt-3">
                        <select id="3inputDecisionAttribute2" class="form-select" multiple
                                aria-label="multiple select example">
                            <option value="lt"><</option>
                            <option value="leq"><=</option>
                            <option value="eq" selected>=</option>
                            <option value="gt">></option>
                            <option value="geq">>=</option>
                        </select>
                    </div>
                    <div class="multipleDecisionAttribute hide col-4 mt-3">
                        <input type="text" class="form-control" id="3inputDecisionAttribute3" placeholder="true">
                    </div>

                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="inputK" class="form-label">k</label>
                            </div>
                            <div class="col-6 text-end">
                                <b>multiple?</b> <input type="checkbox" name="multipleK">
                            </div>
                        </div>
                        <input type="number" class="form-control" id="inputK" placeholder="8">
                    </div>
                    <div class="multipleK hide col-12 mt-3">
                        <input type="number" class="form-control" id="2inputK" placeholder="8">
                    </div>
                    <div class="multipleK hide col-12 mt-3">
                        <input type="number" class="form-control" id="3inputK" placeholder="8">
                    </div>

                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-primary"><b>Plot</b></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>


{% endblock %}


</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            var inputValue = $(this).attr("name");
            $("." + inputValue).toggle();
        });
    });
</script>
</html>
